* { 
    padding: 0px;
    margin: 0px;
} 
body {
    box-sizing: border-box;
}
h1{
    color: #000000;
    text-align: center;
    padding: 20px;
}    
#area_cabecalho{
    height: 150px;
    width: 100%;
    text-align: center;
    background-color: #41a38eea;
    clear: both;
    font-family: 'Open Sans', sans-serif;
} 
a{
    color: #fff;
}
a:hover{
    color: #fff; 
}   
a:visited{
    color: #1c3a31;
}
#area_principal{
    text-align: left;
    margin-top: 40px;
} 
.imagem{    
        width: 10%;
        text-align: center;
}
.texto{
    margin-left: 20px;
    margin-right: 40px;
}
#area_noticias{
    margin-top: 40px;
    text-align: center;
}
.texto1{
    clear: both;
    float: left;
    margin: 40px;
    margin-right: 60%;
    background-color: #91d1c3ea;
    text-align: left;
    padding: 2px;
}
.texto2{
    clear: both;
    float: left;
    margin: 40px;
    margin-right: 60%;
    background-color: #91d1c3ea;
    text-align: left;
    padding: 2px;
}

#rodape{
    clear: both;
	height: 100px;
    width: 100%;
	background-color: #41a38eea;
	color: #d9d9d9;
    padding-top: 60px;
    text-align: center;
  
}